
{% extends "store/base.html" %}
{% load static %}
{% block content %}
        <div id="product" class="section-container p-t-20">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN breadcrumb -->
                <ul class="breadcrumb m-b-10 f-s-12">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Mobile Phone</a></li>
                    <li><a href="#">Apple</a></li>
                    <li class="active">iPhone 6S Plus</li>
                </ul>
                <!-- END breadcrumb -->
                
                <!-- BEGIN product -->
                <div class="product">
                    <!-- BEGIN product-detail -->
                    <div class="product-detail">
                        <!-- BEGIN product-image -->
                        <div class="product-image">
                            <!-- BEGIN product-thumbnail -->
                            <div class="product-thumbnail">
                                {% for img  in images  %}
                                <ul class="product-thumbnail-list">
                                    <li class="active"><a href="#" data-click="show-main-image" data-url="{{img.productimage.url}}"><img src="{{img.productimage.url}}" alt="" /></a></li>
                                </ul>
                                {% endfor %}
                            </div>
                            <!-- END product-thumbnail -->
                            <!-- BEGIN product-main-image -->
                            <div class="product-main-image" data-id="main-image">
                                <img src="{{object.image.url}}" alt="" />
                            </div>
                            <!-- END product-main-image -->
                        </div>
                        <!-- END product-image -->
                        <!-- BEGIN product-info -->
                        <div class="product-info">
                            <!-- BEGIN product-info-header -->
                            <div class="product-info-header">
                                <h1 class="product-title"><span class="label label-success">{{object.discount_percent}}% OFF</span> {{object.title}} </h1>
                                <ul class="product-category">
                                    <li><a href="#">iPhone</a></li>
                                    <li>/</li>
                                    <li><a href="#">mobile phone</a></li>
                                    <li>/</li>
                                    <li><a href="#">electronics</a></li>
                                    <li>/</li>
                                    <li><a href="#">lifestyle</a></li>
                                </ul>
                            </div>
                            <!-- END product-info-header -->
                            <!-- BEGIN product-warranty -->
                            <div class="product-warranty">
                                <div class="pull-right">Availability: In stock</div>
                                <div><b>1 Year</b> Local Manufacturer Warranty</div>
                            </div>
                            <!-- END product-warranty -->
                            <!-- BEGIN product-info-list -->
                            <ul class="product-info-list">
                                {% for item in short  %}
                                <li><i class="fa fa-circle"></i> {{object.description}}</li>
                                {% endfor %}
                            </ul>
                            <!-- END product-info-list -->
                            <!-- BEGIN product-social -->
                            <div class="product-social">
                                <ul>
                                    <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>
                            <!-- END product-social -->
                            <!-- BEGIN product-purchase-container -->
                            <div class="product-purchase-container">
                                <div class="product-discount">
                                    <span class="discount">{{object.discounted_price}}</span>
                                </div>
                                <div class="product-price">
                                    <div class="price">{{object.discounted_price}}</div>
                                </div>
                                <a href="{%  url 'addtocart' product_id=object.id %}" class="btn btn-success">Add to Cart</a>
                            </div>
                            <!-- END product-purchase-container -->
                        </div>
                        <!-- END product-info -->
                    </div>
                    <!-- END product-detail -->
                    <!-- BEGIN product-tab -->
                    <div class="product-tab">
                        <!-- BEGIN #product-tab -->
                        <ul id="product-tab" class="nav nav-tabs">
                            <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                            <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                            <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li>
                        </ul>
                        <!-- END #product-tab -->
                        <!-- BEGIN #product-tab-content -->
                     
                        <div id="product-tab-content" class="tab-content">
                            <!-- BEGIN #product-desc -->
                            <div class="tab-pane fade active in" id="product-desc">
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="{{proddes.titleimage.url}}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{proddes.title}}</h4>
                                        <p>
                                            {{proddes.titledescription}}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc right">
                                    <div class="image">
                                        <img src="{{proddes.touchimage.url}}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{proddes.touch}}</h4>
                                        <p>
                                            {{proddes.touchdescription}}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="{{proddes.cameraimage.url}}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{proddes.camera}}</h4>
                                        <p>
                                            {{proddes.cameradescription}}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc right">
                                    <div class="image">
                                        <img src="{{proddes.technologyimage.url}}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{proddes.technology}}</h4>
                                        <p>
                                            {{proddes.technologydescription}}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="{{proddes.designimage.url}}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{proddes.design}}</h4>
                                        <p>
                                            {{proddes.designdescription}}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                            </div>
                            <!-- END #product-desc -->
                            <!-- BEGIN #product-info -->
                            <div class="tab-pane fade" id="product-info">
                                <!-- BEGIN table-responsive -->
                                <div class="table-responsive">
                                    <!-- BEGIN table-product -->
                                    <table class="table table-product table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>iPhone 6s</th>
                                                <th>iPhone 6s Plus</th>
                                            </tr>
                                            {% for item in info %}
                                            <tr>
                                                <td class="field">{{item.title}}</td>
                                                <td>
                                                    {{item.description}}
                                                </td>
                                               
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- END table-product -->
                                </div>
                                <!-- END table-responsive -->
                            </div>
                            <!-- END #product-info -->
                            <!-- BEGIN #product-reviews -->
                            <div class="tab-pane fade" id="product-reviews">
                                <!-- BEGIN row -->
                                <div class="row row-space-30">
                                    <!-- BEGIN col-7 -->
                                    <div class="col-md-7">
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="assets/img/user-1.jpg" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    (4/5)
                                                </div>
                                                <div class="review-name">Terry</div>
                                                <div class="review-date">24/05/2016 7:40am</div>
                                            </div>
                                            <div class="review-title">
                                                What does “SIM-free” mean?
                                            </div>                        
                                            <div class="review-message">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in imperdiet augue. Integer non aliquam eros. Cras vehicula nec sapien pretium sagittis. Pellentesque feugiat lectus non malesuada aliquam. Etiam id tortor pretium, dictum leo at, malesuada tortor.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="assets/img/user-2.jpg" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    (3/5)
                                                </div>
                                                <div class="review-name">George</div>
                                                <div class="review-date">24/05/2016 8:40am</div>
                                            </div>                     
                                            <div class="review-title">
                                                When I buy iPhone from apple.com, is it tied to a carrier or does it come “unlocked”?
                                            </div>                
                                            <div class="review-message">
                                                In mauris leo, maximus at pellentesque vel, pharetra vel risus. Aenean in semper velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi volutpat mattis neque, at molestie tellus ultricies quis. Ut lobortis odio nec nunc ullamcorper, vitae faucibus augue semper. Sed luctus lobortis nulla ac volutpat. Mauris blandit scelerisque sem.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="assets/img/user-3.jpg" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    (5/5)
                                                </div>
                                                <div class="review-name">Steve</div>
                                                <div class="review-date">23/05/2016 8:40am</div>
                                            </div>                     
                                            <div class="review-title">
                                                Where is the iPhone Upgrade Program available?
                                            </div>                
                                            <div class="review-message">
                                                Duis ut nunc sem. Integer efficitur, justo sit amet feugiat hendrerit, arcu nisl elementum dui, in ultricies erat quam at mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec ultrices tellus. Mauris elementum venenatis volutpat.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="assets/img/user-4.jpg" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    (2/5)
                                                </div>
                                                <div class="review-name">Alfred</div>
                                                <div class="review-date">23/05/2016 10.02am</div>
                                            </div>                     
                                            <div class="review-title">
                                                Can I keep my current service plan if I choose the iPhone Upgrade Program?
                                            </div>                
                                            <div class="review-message">
                                                Donec vel fermentum quam. Vivamus scelerisque enim eget tristique auctor. Vivamus tempus, turpis iaculis tempus egestas, leo augue hendrerit tellus, et efficitur neque massa at neque. Aenean efficitur eleifend orci at ornare.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="assets/img/user-5.jpg" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    (5/5)
                                                </div>
                                                <div class="review-name">Edward</div>
                                                <div class="review-date">22/05/2016 9.30pm</div>
                                            </div>                     
                                            <div class="review-title">
                                                I have an existing carrier contract or installment plan. Can I purchase with the iPhone Upgrade Program
                                            </div>                
                                            <div class="review-message">
                                                Aliquam consequat ut turpis non interdum. Integer blandit erat nec sapien sollicitudin, a fermentum dui venenatis. Nullam consequat at enim et aliquet. Cras mattis turpis quis eros volutpat tristique vel a ligula. Proin aliquet leo mi, et euismod metus placerat sit amet.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                    </div>
                                    <!-- END col-7 -->
                                    <!-- BEGIN col-5 -->
                                    <div class="col-md-5">
                                        <!-- BEGIN review-form -->
                                        <div class="review-form">
                                            <form action="" method="post">
                                                {{form.as_p}}
                                                <input type="submit" value="Submit">
                                            </form>
                                            {% comment %} <form action="product_detail.html" name="review_form" method="POST">
                                                <h2>Write a review</h2>
                                                <div class="form-group">
                                                    <label for="name">Name <span class="text-danger">*</span></label>
                                                    <
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Title <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="review">Review <span class="text-danger">*</span></label>
                                                    <textarea class="form-control" rows="8" id="review"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Rating  <span class="text-danger">*</span></label>
                                                    <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                        <i class="fa fa-star-o" data-value="2"></i>
                                                        <i class="fa fa-star-o" data-value="4"></i>
                                                        <i class="fa fa-star-o" data-value="6"></i>
                                                        <i class="fa fa-star-o" data-value="8"></i>
                                                        <i class="fa fa-star-o" data-value="10"></i>
                                                        <span class="rating-comment">
                                                            <span class="rating-comment-tooltip">Click to rate</span>
                                                        </span>
                                                    </div>
                                                    <select name="rating" class="hide">
                                                        <option value="2">2</option>
                                                        <option value="4">4</option>
                                                        <option value="6">6</option>
                                                        <option value="8">8</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>            
                                                <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                            </form> {% endcomment %}
                                        </div>
                                        <!-- END review-form --> 
                                    </div>
                                    <!-- END col-5 -->
                                </div>
                                <!-- END row -->
                            </div>
                            <!-- END #product-reviews -->
                        </div>
                        <!-- END #product-tab-content -->
                    </div>
                    <!-- END product-tab -->
                </div>
                <!-- END product -->
                
                <!-- BEGIN similar-product -->
                <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
                <div class="row row-space-10">
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="assets/img/iphone.png" alt="">
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product_detail.html">iPhone 6s Plus<br>16GB</a>
                                </h4>
                                <p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
                                <div class="item-price">$649.00</div>
                                <div class="item-discount-price">$739.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="assets/img/samsung-note5.png" alt="">
                                <div class="discount">32% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">Samsung Galaxy Note 5<br>Black</a>
                                </h4>
                                <p class="item-desc">Super. Computer. Now in two sizes.</p>
                                <div class="item-price">$599.00</div>
                                <div class="item-discount-price">$799.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="assets/img/iphone-se.png" alt="">
                                <div class="discount">20% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">iPhone SE<br>32/64Gb</a>
                                </h4>
                                <p class="item-desc">A big step for small.</p>
                                <div class="item-price">$499.00</div>
                                <div class="item-discount-price">$599.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="assets/img/zenfone2.png" alt="">
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product_detail.html">Assus ZenFone 2<br>‏(ZE550ML)</a>
                                </h4>
                                <p class="item-desc">See What Others Can’t See</p>
                                <div class="item-price">$399.00</div>
                                <div class="item-discount-price">$453.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="assets/img/xperia-z.png" alt="">
                                <div class="discount">32% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">Sony Xperia Z<br>Black Color</a>
                                </h4>
                                <p class="item-desc">For unexpectedly beautiful moments</p>
                                <div class="item-price">$599.00</div>
                                <div class="item-discount-price">$799.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="assets/img/lumia-532.png" alt="">
                                <div class="discount">20% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">Microsoft Lumia 531<br>Smartphone Orange</a>
                                </h4>
                                <p class="item-desc">1 Year Local Manufacturer Warranty</p>
                                <div class="item-price">$99.00</div>
                                <div class="item-discount-price">$199.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                </div>
                <!-- END similar-product -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #product -->
{% endblock content %}
        
        