{% extends 'store/base.html' %}
{% load static %}
{% block title %} <title>Password Change</title>{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome </h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}
   <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
     {{fm.label_tag}} {{fm}} {{fm.errors}} <br><br>
    {% endfor %} 
    <input type="submit" value="ChangePassword">
   </form>
   {% if form.non_field_errors %}
   {% for error in form.non_field_errors %}
   <p class="alert alert-danger my-3">{{error}}</p>
   {% endfor %}
   {% endif %}
   
  </div>
 </div>
</div>
{% endblock content %}