{% extends 'store/base.html' %}
{% load static %}
{% block title %} <title>Password Change Done</title> {% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{username.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    {% if messages %}
    {% for message in messages %}
    <h2><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h2>
    {% endfor %}
    {% endif %}
  </div>
 </div>
</div>

{% endblock content %}